@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  background: #fff;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  background-color: #fff;
  height: 55px;
  display: flex;
  gap: 20px;
  color: #000;
  line-height: 150%;
  padding: 10px 31px;
}
.nav_logo {
  text-align: left;
  flex-grow: 1;
  margin: auto 0;
}
.menu_items {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
  margin: auto 0;
}
a {
  color: #000;
  text-decoration: none;
}
.btn-login,
.btn-signup {
  display: flex;
  list-style: none;
  gap: 20px;
  width: 90px;
  height: 32px;
  font-size: 13px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  justify-content: center;
  border-radius: 15px;
  align-self: stretch;
  margin: auto 0;
  padding: 6px 16px;
  transition: background-color 0.3s ease;
}

.btn-login {
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  font-weight: 600;
  white-space: nowrap;
}
.btn-signup {
  background-color: #000;
  color: #fff;
  font-weight: 600;
}
.btn-login:hover {
  background-color: #dfdfdfc2;
  font-weight: 600;
}
.btn-signup:hover {
  background-color: #000000cc;
  font-weight: 600;
}